*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-px{
    padding-left: 300px;
    padding-right: 300px;
    line-height: 2;
}
.card{
    transition: 1s;
}
.card:hover{
    transform: scale(1.07);
    box-shadow: 3px 3px 10px black;
    overflow: hidden;
    border-radius: 40px;
    cursor: pointer;
}